<!DOCTYPE html>
<html>
    <head>
        <title>About</title>

        <link rel="icon" href="/img/weather-logo.png">
        <link rel = "stylesheet" href = "css/style.css">
    </head>
    
    <body style="background-image:linear-gradient(to left, rgba(230, 230, 250,0.5), rgba(230, 230, 250,0.5));"> 
        <div class="main-content"> 

       {{>header}}

       <p style="font-family: monotype corsiva; font-size:30px;"> This site was created by Abhishek Joshi. It uses data from mapbox.com and darksky.net</p>
       <img src="img/me1.jpeg" style="box-shadow:3px 10px 18px #0a394fbf; height:400px; width:450px;"> 
       </div>
     {{>footer}}
    </body>
</html>