<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>

        <link rel="icon" href="/img/weather-logo.png">
        <link rel = "stylesheet" href = "css/style.css">
    </head>
    
    <body style="background-image:linear-gradient(to left, rgba(230, 230, 250,0.5), rgba(230, 230, 250,0.5));"> 
        <div class="main-content">

       {{>header}}
      <h2> Use this site to get your weather information!</h2>

       <form>
           <input placeholder="Location">
           <button> Search</button>
       </form>

       <p id="message-1"></p>
        <p id="message-2"></p>

<img src="img/logo.png" height="250" style="box-shadow:3px 10px 18px #0a394fbf;">

       </div>
    
     {{>footer}}

      <script src="js/app.js"></script>
    </body>
</html>